/* For the entire list group item (button) */
.list-group-item:hover {
  background-color: #f0f8ff;
}

.list-group-item:active {
  background-color: #add8e6; /* Active background */
  color: white;
}

/* For the badge inside the list group item */
.badge:hover {
  background-color: #ffc107; /* Yellow background for the badge on hover */
}

.badge:active {
  background-color: #ff8c00; /* Darker yellow when active */
}
/* Remove underline from Link items */
.list-group a {
  text-decoration: none;
}
.border-primary {
  border-color: #007bff !important; /* Adjust color as desired */
}
.list-group-item {
  border: 2px solid transparent; /* Initial border */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.list-group-item:hover {
  border: 1px solid transparent;
  border-color: #007bff !important;
}

.list-group-item.active {
  border-color: blue;
}
.list-group-item {
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
}
.bgsidebar {
  background-color: "red";
}

.scrollableContent {
  max-height: 80vh; /* Adjust this to control the scrollable area height */
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff; /* Optional for visual contrast */
  border: 1px solid #ddd; /* Optional for visual separation */
}
