/* General Container Styling */

/* Title Styling */
.title_master {
  font-size: 34px;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Card Customization */
.card_master {
  border: none;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto; /* Center cards horizontally */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for better appearance */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card_master:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card_body_master {
  padding: 15px;
}

.icon_wrapper_master {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: lavender;
}

.card_label_master {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-bottom: 8px;
}

/* Text Color */
.text_primary_master {
  color: #6c63ff !important;
}

/* Responsive Card Layout */
@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.666667%; /* 6 columns on medium devices */
  }
}

@media (max-width: 767.98px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 50%; /* 2 columns on mobile devices */
    margin-bottom: 15px;
  }
}
