.orgtax {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 2px #d9d2d2bf;
  margin-bottom: 20px;
  margin-left: 10px;
}
.orgtax input {
  border-radius: 50px;
  width: 90%;
}

.taxrow input {
  border-radius: 50px;
  width: 90%;
}

.epfund input {
  border-radius: 50px;
  width: 90%;
}

.esirow input {
  border-radius: 50px;
  width: 90%;
}

.pftax input {
  border-radius: 50px;
  width: 90%;
}

.labourfund input {
  border-radius: 50px;
  width: 90%;
}
.orgtwo,
.taxtwo,
.epftwo,
.esitwo,
.pftwo,
.lbrtwo {
  display: flex;
}

.epftwo select {
  border-radius: 50px;
  width: 90%;
}

.pftwo select {
  border-radius: 50px;
  width: 90%;
}

/* .orgtax,.taxrow, .epfund ,.esirow div{
      margin: auto;
  } */
.taxrow {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 2px #d9d2d2bf;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 10px;
}
.epfund {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 2px #d9d2d2bf;
  margin-bottom: 20px;
  margin-left: 10px;
}
.esirow {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 2px #d9d2d2bf;
  margin-bottom: 20px;
  margin-left: 10px;
}
.pftax {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 2px #d9d2d2bf;
  margin-bottom: 20px;
  margin-left: 10px;
}
.labourfund {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 2px #d9d2d2bf;
  margin-bottom: 20px;
  margin-left: 10px;
}

.taxbtn {
  background-color: #44c144;
  border-color: #44c144;
  display: block;
  margin-left: auto;
  padding: 10px;
  width: 20%;
}

.taxbtn:hover {
  background-color: #fff;
  color: #44c144;
  border-color: #44c144;
  display: block;
  margin-left: auto;
  padding: 10px;
  width: 20%;
}

.taxDeductor-tab li {
  background-color: #e1e1e1;
  width: 16%;
  text-align: center;
  margin-right: 5px;
}
.taxDeductor-tab li a {
  color: #000;
  width: 100%;
}

.taxDeductor-tab li:hover {
  background-color: #f0f8ff;
}

.taxDeductor-tab li a:hover {
  color: #000;
}
.nav-item .nav-link.active {
  width: 100%;
}
/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
} */

/* modal */

/* Modal container style */
/* Modal container style */
.modal.fade.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  height: 70%;
  margin-top: 60px;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30% auto;
}

.modal-body {
  text-align: center;
  /* margin-top: 20px; */
}
.modal-body p {
  font-size: 17px;
  font-weight: 500;
}
.modal-body img {
  width: 200px;
  height: 150px;
  /* margin-bottom: 20px; */
}

.modalfooter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* margin-top: 20px; */
}

.modalfooter .btn {
  width: 48%;
  border-radius: 25px;
}

.modalfooter .btn-primary {
  background-color: #4caf50;
  border: none;
  color: white;
}

.modalfooter .btn-secondary {
  background-color: #2196f3;
  border: none;
  color: white;
}

@media (max-width: 600px) {
  .modal-dialog {
    width: 70%;
  }
  .modal-footer .btn {
    width: 48%;
    font-size: 0.9rem;
  }
}
